@-moz-keyframes glow
{
    0%
    {
        opacity: 0.2;
    }
    
    50%
    {
        opacity: 1;
    }
    
    100%
    {
        opacity: 0.2;
    }
}

#glome-icon
{
  list-style-image: url("chrome://glome/skin/icon-17x17.png");
  -moz-image-region: rect(0px 24px 24px 0px);
  -moz-animation-name: glow;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 5000ms;
}
/*#glome-icon:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #glome-icon
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #glome-icon:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
*/

#glome-status:not([disabled="true"]) *
{
  cursor: pointer;
}

#glome-status[deactivated]
{
  opacity: 0.5;
}

#glome-status[whitelisted]
{
  color: #008000;
}

#glome-status label
{
  display: none;
}

#glome-status.pending
{
  -moz-image-region: rect(0px 24px 24px 0px);
  -moz-animation-name: glow;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 5000ms;
}

#glome-status:not([disabled="true"]):hover
{
  text-decoration: underline;
  opacity: 1 !important;
  -moz-animation-name: none;
}

toolbar[iconsize="small"] #glome-toolbarbutton,
#PersonalToolbar #glome-toolbarbutton,
#glome-status image
{
  list-style-image: url("chrome://glome/skin/icon-17x17.png");
  /*-moz-image-region: rect(0px, 16px, 16px, 0px);*/
}

#ad-stack
{
  -moz-box-align: center;
  -moz-box-pack: center;
}

#ad-overlay
{
  background-color: rgba(0, 0, 0, 0.8);
  -moz-box-align: center;
  -moz-box-pack: center;
}

#ad-overlay-display
{
  background-color: white;
  width: 640px;
  height: 540px;
  border: solid 10px white;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(126,126,126,1), 0 0 10px rgba(0, 0, 0, 0.3);
}

#ad-overlay-content
{
  background-color: #a7aab1;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
}

#ad-overlay-common
{
  background-color: #a7aab1;
  border-top: solid 1px #b2b5ba;
  border-bottom: solid 1px #888892;
  height: 168px;
  color: white;
}

#ad-overlay-common > .description,
#ad-overlay-common > .actions
{
  width: 320px;
  padding: 30px 13px;
  white-space: normal;
}

#ad-overlay-common > .actions .profit
{
  background-color: #4083de;
  color: white;
  padding: 4px 10px;
  text-align: right;
  vertical-align: middle;
  margin: -10px -20px 20px 0;
  box-shadow: 3px -3px rgba(0, 0, 0, 0.8);
}

#ad-overlay-common > .actions .action
{
  background-image: url('chrome://glome/skin/ball-arrow-right.png');
  background-repeat: no-repeat;
  background-position: right -49px;
  color: #7c7f84;
  font-size: 180%;
  font-weight: bold;
  padding-right: 48px;
  min-height: 31px;
  padding-top: 3px;
  vertical-align: middle;
}

#ad-overlay-common > .actions .action:hover
{
  color: white;
  background-position: right top;
  text-shadow: none;
  cursor: pointer;
}

#ad-overlay-common .content.h1
{
  color: white;
  font-size: 200%;
  text-transform: uppercase;
}

#ad-overlay-cashback
{
    height: 42px;
    vertical-align: middle;
    background-image: -moz-linear-gradient(bottom, #2e2f34 0%, #343740 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27);
    color: white;
    border-radius: 0 0 4px 4px;
}

#ad-overlay-cashback label
{
    padding-top: 12px;
    height: 42px;
    text-align: right;
}

#ad-overlay-cashback label.currency
{
    text-align: left;
}

#ad-overlay-footer
{
    height: 61px;
    line-height: 61px;
    vertical-align: middle;
}

#ad-close
{
  border: none;
  position: absolute;
  box-shadow: none;
  width: 28px;
  height: 28px;
}

#ad-content-local
{
  -moz-box-align: center;
  -moz-box-pack: center;
}

#ad-content-local image
{
    display: block;
}

#ad-content-local iframe.content-iframe
{
    width: 100%;
    display: block;
    clear: both;
}

label.h1
{
  margin-bottom: 1em;
  font-size: 200%;
  font-weight: bold;
}

label.content
{
  font-size: 100%;
}

/*toolbar[iconsize="small"] #glome-toolbarbutton[deactivated],
#PersonalToolbar #glome-toolbarbutton[deactivated],
#glome-status[deactivated] image {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
toolbar[iconsize="small"] #glome-toolbarbutton[whitelisted],
#PersonalToolbar #glome-toolbarbutton[whitelisted],
#glome-status[whitelisted] image {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
toolbar[iconsize="small"] #glome-toolbarbutton[disabled="true"],
#PersonalToolbar #glome-toolbarbutton[disabled="true"],
#glome-status[disabled="true"] image {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
}*/