@import url('chrome://glome/skin/extensions.css');

#glome-status-bar-icon
{
  -moz-image-region: rect(0px 24px 24px 0px);
  padding: 11px 16px;
}

#glome-tooltip,
#glome-tooltip > *
{
  -moz-appearance: none;
  border: none;
  outline: none;
}

#glome-status-bar-icon,
#glome-tooltip .container,
#glome-controls-window,
#glome-controls-icon
{
  background: -moz-linear-gradient(#fbf8f8, #dedbdb);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
}

#glome-controls
{
  overflow: visible;
}

#glome-controls-icon
{
  background-image: url('chrome://glome/skin/icons/statusbar-icon-inactive.png'), -moz-linear-gradient(#fbf8f8, #dedbdb);
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -27px;
  width: 37px;
  height: 27px;
}

[state="active"] #glome-controls-icon
{
  background-image: url('chrome://glome/skin/icons/statusbar-icon-active.png'), -moz-linear-gradient(#fbf8f8, #dedbdb);
  box-shadow: 0 0 5px rgba(15, 150, 254, 0.8);
}

#glome-controls-icon-counter
{
  display: none;
}

[state="active"] #glome-controls-icon + #glome-controls-icon-counter
{
  display: block;
  bottom: 0;
  width: 37px;
  height: 0;
  padding: 0;
  margin-top: -40px;
  overflow: visible;
  text-align: right;
}

#glome-controls-icon-counter label
{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  background-image: -moz-linear-gradient(#0094fe, #007df7);
  border: solid 2px white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  height: 16px;
  font-size: 11px;
  text-align: right;
  padding: 0 4px;
  float: right;
  margin-left: -5px;
}

#glome-controls-icon,
#glome-controls-window
{
  padding: 8px 10px;
}

#glome-controls-window
{
  bottom: 0;
  right: 15px;
  -moz-appearance: none;
  outline: none;
}

#glome-controls-wrapper > *
{
  width: 220px;
}

#glome-controls-window .glome-profit
{
  margin: 0 -10px 0 0;
}

#glome-controls-window .glome-ad-description > *
{
  text-align: center;
}

#glome-controls-window .glome-ad-description description
{
  max-width: 200px;
  font-weight: bold;
}

#glome-controls-window .glome-ad-description label
{
  font-size: 12px;
}

#glome-controls-window .glome-ad-summary
{
  width: 50px;
}

#glome-controls-window .glome-ad-description > *
{
  padding: 0;
  margin: 0;
  -moz-appearance: none;
}

#glome-switch-domain,
[state=active] #glome-switch-domain
{
  -moz-box-align: center;
  display: none;
}

#glome-switch-domain[domain=on],
#glome-switch-domain[domain=off],
[state=active] #glome-switch-domain[domain=off]
{
  display: block;
}

#glome-switch-domain .action
{
  color: #0080ff;
}

#glome-switch-domain[domain=off] .action
{
  color: #0080ff;
  -moz-box-align: center;
  -moz-box-pack: center;
}

#glome-switch-domain[domain] .action > *
{
  height: 24px;
  margin-bottom: 10px;
  -moz-box-align: center;
  font-size: 20px;
}

#glome-switch-domain[domain] .action > .button
{
}

#glome-switch-domain[domain] .action .on,
#glome-switch-domain[domain] .action .off
{
  background-image: url('chrome://glome/skin/elements/ball-plus-grey.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 22px;
  height: 22px;
  display: none;
}

#glome-switch-domain[domain=off] .action .off
{
  display: block;
}

#glome-switch-domain[domain=off] .action,
#glome-switch-domain[domain=off] .action .button
{
  color: #aeb0b7;
}

#glome-switch-domain[domain=on] .action .on
{
  background-image: url('chrome://glome/skin/elements/ball-minus-blue.png');
  display: block;
}

#glome-switch-domain .label
{
  font-size: 13px;
  font-weight: bold;
}

#glome-tooltip .container
{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px 10px;
  text-align: left;
}

#glome-tooltip .container image
{
  float: left;
  
}

#glome-controls-window .buttons
{
  margin: 10px -5px;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: horizontal;
}

#ad-overlay-category-ads .buttons
{
  margin: 0 0 0 5px;
  -moz-box-orient: vertical;
  -moz-box-align: end;
  -moz-box-pack: center;
}

#glome-controls-window .buttons button,
#ad-overlay-category-ads .buttons button
{
  background: -moz-linear-gradient(#fbf8f8, #dedbdb);
  margin: 0 1px;
  padding: 0;
  font-size: 10px;
  height: 26px;
  line-height: 26px;
  width: 60px;
  -moz-appearance: none;
  text-transform: uppercase;
  color: #4a4a4a;
  border-radius: 3px;
  text-align: center;
}

#glome-controls-window .buttons button:hover,
#ad-overlay-category-ads .buttons button:hover
{
  background-image: -moz-linear-gradient(#0094fe, #007df7);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
  color: #005196;
  text-shadow: 1px 0 0 #00a6ff;
}

#glome-controls-window .navigation
{
  background-image: url('chrome://glome/skin/diagonal-line-gray.gif');
  margin: 0 -10px;
  padding: 14px 9px;
}

#glome-controls-window .navigation .navigators image + image
{
  margin-left: 5px;
}

#glome-controls-window .actions
{
  padding-top: 5px;
}

/*#glome-icon:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #glome-icon
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #glome-icon:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
*/

#glome-status:not([disabled="true"]) *
{
  cursor: pointer;
}

#glome-status[deactivated]
{
  opacity: 0.5;
}

#glome-status[whitelisted]
{
  color: #008000;
}

#glome-status label
{
  display: none;
}

#glome-status.pending
{
  -moz-image-region: rect(0px 24px 24px 0px);
  -moz-animation-name: glow;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 5000ms;
}

#glome-status:not([disabled="true"]):hover
{
  text-decoration: underline;
  opacity: 1 !important;
  -moz-animation-name: none;
}

.glome-preferences,
.glome-preferences *
{
  -moz-appearance: none;
}

.glome-preferences,
.glome-preferences > *
{
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.glome-preferences button
{
  display: none;
}

toolbar[iconsize="small"] #glome-toolbarbutton,
#PersonalToolbar #glome-toolbarbutton,
#glome-status image
{
  list-style-image: url("chrome://glome/skin/icons/glome-17x17.png");
  /*-moz-image-region: rect(0px, 16px, 16px, 0px);*/
}

#ad-stack
{
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-appearance: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#ad-stack-panel
{
  -moz-appearance: none;
  background-color: rgba(0, 0, 0, 0.8);
}

#ad-stack-panel .ad-overlay-content
{
  display: none;
  height: 450px;
}

#ad-stack-panel .ad-overlay-content > *
{
  width: 100%;
}

#ad-stack-panel[view=single] #ad-overlay-single
{
  display: block;  
}

#ad-stack-panel[view=category] #ad-overlay-category
{
  display: block;  
}

#ad-stack-panel[view=list] #ad-overlay-category-ads
{
  display: block;  
}

#ad-overlay
{
  -moz-box-align: center;
  -moz-box-pack: center;
}

#ad-overlay-display
{
  background-color: white;
  width: 640px;
  height: 540px;
  border: solid 10px white;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(126,126,126,1), 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 13.5px;
  -moz-box-orient: vertical;
}

#ad-overlay-display .header > *
{
  margin-top: -5px;
}

#ad-overlay-single-image
{
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  height: 300px;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
}

#ad-overlay-category .header-line .h1
{
  margin-bottom: 0;
}

#ad-overlay-category .with-space
{
  margin: 40px 0;
}

#ad-overlay-category .actions button
{
  background: url('chrome://glome/skin/navigation/ball-arrow-right-gray-18x18.png') center center no-repeat, -moz-linear-gradient(bottom, #e6e6e6, #e6e6e6 40%, #fafafa 60%, #fefefe);
  border-radius: 6px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.40);
  padding: 10px;
  width: 200px;
  height: 120px;
  -moz-appearance: none;
  -moz-box-pack: center;
  -moz-box-align: center;
}

#ad-overlay-category .actions button > *
{
  opacity: 0.5;
}

#ad-overlay-category .actions button:hover
{
  background: url('chrome://glome/skin/navigation/ball-arrow-right-blue-18x18.png') center center no-repeat, -moz-linear-gradient(bottom, #e6e6e6, #e6e6e6 40%, #fafafa 60%, #fefefe);
  color: #008afd;
}

#ad-overlay-category .actions button:hover > *
{
  opacity: 1;
}

#ad-overlay-category .actions button .h1
{
  margin: 0 0 40px;
  padding: 0;
}

#ad-overlay-category .actions button hbox
{
  margin-top: -5px;
}

#ad-overlay .inner
{
  background-image: -moz-radial-gradient(center center, circle farthest-side, rgba(255,255,255,1), rgba(255,255,255,0)), url('chrome://glome/skin/configscreen-active-background.gif');
  color: #40414c;
  -moz-flex: 1;
  height: 490px;
}

#ad-overlay-single .inner
{
  background-image: -moz-radial-gradient(center -50%, circle farthest-side, rgba(255,255,255,1), rgba(255,255,255,0)), url('chrome://glome/skin/configscreen-active-background.gif');
  border-top: solid 1px #b2b5ba;
  height: auto;
}

#ad-overlay-single .inner > .description,
#ad-overlay-single .inner > .actions
{
  padding: 30px 11px;
  white-space: normal;
}

#ad-overlay-single .inner > .description
{
  width: 400px;
}

#ad-overlay-single .inner > .actions
{
  width: 200px;
}

.glome-profit
{
  background-color: #4083de;
  color: white;
  padding: 4px 10px;
  text-align: right;
  vertical-align: middle;
  margin: -10px -20px 20px 0;
  box-shadow: 3px -3px rgba(0, 0, 0, 0.8);
}

#ad-overlay-single .inner > .actions .action
{
  background-image: url('chrome://glome/skin/navigation/ball-arrow-right-36x36.png');
  background-repeat: no-repeat;
  background-position: right center;
  color: #40424c;
  font-size: 24px;
  font-weight: bold;
  padding-right: 48px;
  min-height: 36px;
  padding-top: 3px;
  vertical-align: middle;
  opacity: 0.2;
}

#ad-overlay-single .inner > .actions .action:hover
{
  background-image: url('chrome://glome/skin/navigation/ball-arrow-right-blue-36x36.png');
  background-position: right top;
  text-shadow: none;
  cursor: pointer;
  opacity: 1;
  color: #008bff;
}

#ad-overlay-single .inner .content.h1
{
  font-size: 200%;
  text-transform: uppercase;
}

#ad-overlay-display .footer
{
  background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #ffffff 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27), 0 -1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
  -moz-box-pack: center;
  color: #0082f0;
  height: 42px;
  font-size: 18px;
  vertical-align: middle;
}

#ad-overlay-display .footer label
{
  padding-top: 12px;
  height: 42px;
  text-align: right;
  margin: 0 0.2em;
  font-weight: bold;
}

#ad-overlay-category-ads .list-item
{
  -moz-box-align: center;
  -moz-box-orient: horizontal;
  min-height: 70px;
  margin: 0 10px;
}

#ad-overlay-category-ads .list-item + .list-item
{
  border-top: solid 1px #b8b8b8;
}

#ad-overlay-category-ads .list-item .thumbnail
{
  width: 90px;
  margin-right: 10px;
  -moz-box-pack: center;
  -moz-box-align: center;
  -moz-box-orient: vertical;
}

#ad-overlay-category-ads .list-item .thumbnail > *
{
  background: -moz-linear-gradient(bottom, #e6e6e6, #e6e6e6 40%, #fafafa 60%, #fefefe);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.4);
}

#ad-overlay-category-ads .list-item .h2
{
  margin-bottom: 0;
}

#ad-overlay-cashback label.currency
{
  text-align: left;
}

#ad-overlay-footer
{
  padding: 20px 0;
  vertical-align: middle;
}

#ad-overlay-footer .links
{
}

#ad-overlay-footer .links > *
{
  -moz-box-pack: start;
  -moz-box-align: center;
  -moz-flex: 0;
}

#ad-overlay-footer label.text-link
{
  background-repeat: no-repeat;
  background-position: center center;
  -moz-appearance: none;
  text-decoration: none;
  color: black;
}

#ad-overlay-footer .share label.text-link
{
  height: 25px;
}

#ad-overlay-footer label.text-link:hover
{
  text-decoration: underline;
}

#ad-overlay-footer .share label.text-link:hover
{
  text-decoration: none;
}

#ad-overlay-footer label.text-link.facebook
{
  background-image: url('chrome://glome/skin/icons/facebook-x25.png');
  width: 11px;
}

#ad-overlay-footer label.text-link.twitter
{
  background-image: url('chrome://glome/skin/icons/twitter-x25.png');
  width: 30px;
}

#ad-overlay-footer label.text-link.blog
{
  background-image: url('chrome://glome/skin/icons/blog-x25.png');
  width: 24px;
}

#ad-overlay-footer label,
#ad-overlay-footer description
{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  -moz-appearance: none;
  vertical-align: middle;
}

#ad-overlay-footer .separators > * + *
{
  padding-left: 1em;
}

#ad-close
{
  border: none;
  position: absolute;
  box-shadow: none;
  width: 28px;
  height: 28px;
}

.close-panel
{
  cursor: pointer;
}

#ad-content-local
{
  -moz-box-align: center;
  -moz-box-pack: center;
}

#ad-content-local image
{
  display: block;
}

#ad-content-local iframe.content-iframe
{
  width: 100%;
  display: block;
  clear: both;
}

label.h1
{
  margin-bottom: 1em;
  font-size: 200%;
  font-weight: bold;
}

label.h2
{
  font-size: 20px;
  font-weight: bold;
}

label.content
{
  font-size: 100%;
}

/*toolbar[iconsize="small"] #glome-toolbarbutton[deactivated],
#PersonalToolbar #glome-toolbarbutton[deactivated],
#glome-status[deactivated] image {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
toolbar[iconsize="small"] #glome-toolbarbutton[whitelisted],
#PersonalToolbar #glome-toolbarbutton[whitelisted],
#glome-status[whitelisted] image {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
toolbar[iconsize="small"] #glome-toolbarbutton[disabled="true"],
#PersonalToolbar #glome-toolbarbutton[disabled="true"],
#glome-status[disabled="true"] image {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
}*/


checkbox.glome-switch
{
  background-image: url('chrome://glome/skin/elements/checkbox-switch-small.png'), -moz-linear-gradient(#323232, #3f3f40);
  background-repeat: no-repeat, repeat-y;
  background-position: left top, left top;
  width: 60px;
  height: 22px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -moz-appearance: none;
  padding: 0;
}

checkbox.glome-switch label
{
  display: block;
  width: 0;
  height: 22px;
}

checkbox.glome-switch label:before
{
  display: block;
  content: 'On';
  font-size: 11px;
  color: white;
  text-align: right;
  width: 45px;
  height: 18px;
  padding: 0 5px 0 2px;
  line-height: 20px;
}

checkbox.glome-switch[checked]
{
  background-image: url('chrome://glome/skin/elements/checkbox-switch-small.png'), -moz-linear-gradient(#016be4, #7ab1f6);
  background-position: right top, left top;
}

checkbox.glome-switch[checked] label:before
{
  content: 'Off';
  text-align: left;
}

.glome button
{
  font-size: 13px;
}

.glome button.icon
{
  width: 20px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: left;
  -moz-appearance: none;
  -moz-box-flex: 0;
}

.glome button.icon > image
{
  float: left;
  -moz-box-flex: 0;
}

.glome button.icon + button.icon
{
  border-left: solid 1px #cbc9c9;
  padding-left: 10px;
  margin-left: 10px;
}

.glome button.arrow
{
  background-image: url('chrome://glome/skin/navigation/tiny-arrow-down.png');
  background-position: right center;
  background-repeat: no-repeat;
  -moz-appearance: none;
  padding-right: 20px;
}

.glome button.left-arrow
{
}

.glome .large
{
  font-size: 21px;
  margin: 10px 0;
}

.glome .single-line-labels label
{
  margin: 0;
  padding: 0;
  -moz-appearance: none;
}

.glome .single-line-labels label + label
{
  margin-left: 0.5em;
}

.glome button.no-frames
{
  -moz-appearance: none;
  margin: 0;
  padding: 0;
}

.glome textbox.glome-search
{
  background-image: url('chrome://glome/skin/icons/icon-looking-glass-white.png');
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: #c6c4c4;
  border-radius: 14px;
  height: 28px;
  line-height: 28px;
  color: white;
  border: none;
  -moz-appearance: none; 
  padding-left: 29px;
  padding-right: 10px;
}

.glome textbox.glome-search,
.glome textbox.glome-search *
{
  color: white;
}

[state="active"] .inactive
{
  display: none;
}

[state="disabled"] .active
{
  display: none;
}

.glome .separators > *
{
  margin-left: 0.5em;
  padding-left: 0.5em;
  margin-right: 0;
  padding-right: 0;
}

.glome .separators > :first-child
{
  margin-left: 0;
  padding-left: 0;
}

.glome .separators > * + *
{
  border-left: solid 1px;
}

.no-margins
{
  margin-left: 0;
  margin-right: 0;
}

.no-margin-left
{
  margin-left: 0;
}

.no-margin-right
{
  margin-right: 0;
}

